<!-- Extends means to import the base template and include its info-->
{% extends "travel_wishlist/base.html" %}

<!-- Content block means to define the content area for this template
  based on the base template -->
{% block content %}
<h2>About</h2>
<div><strong>Author:</strong> {{ author }}</div>
{% if about %}

<div><strong> The author info has been provided </strong></div>

{% endif %}
<div><strong>About:</strong> {{ about }}</div>

{% for letter in 'hello'%}
    <div>{{ letter }}</div>
{% endfor %}

{% endblock %}
