{% extends "travel_wishlist/base.html" %}

{% block content %}

<h2>Travel wishlist</h2>
<!-- I use {% } to embed Django template logic.
 I use double {} to display values -->

<form class="visited-form" method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <button id="add-new-place" type="submit">Add new place</button>
</form>


<!-- for each when I have places -->
{% for place in places %}

<div class="wishlist-place">
    <span class="place-name">{{ place.name }}</span>
    <form class="visited-form" method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button>Visited</button>
    </form>
</div>

{% empty %}

<div>
    No places in the wishlist.
</div>

{% endfor %}
{% endblock %}